<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  #app {
    width: 100vw;
    height: 100vh;
  }
</style>

<div id="app"></div>

<!-- library -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> -->

<script>
  require(['vue', 'bootstrap'], function(Vue) {
    Vue.component('ExrateList', {
      template: `
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">CurrencyCode</th>
              <th scope="col">CurrencyName</th>
              <th scope="col">Buy</th>
              <th scope="col">Transfer</th>
              <th scope="col">Sell</th>
            </tr>
          </thead>
          <tbody>
            <slot></slot>
          </tbody>
        </table>
      </div>
      
    `,
    })

    Vue.component('Exrate', {
      props: ['CurrencyCode', 'CurrencyName', 'Buy', 'Transfer', 'Sell'],

      template: ` 
      <tr>
        <td>{{CurrencyCode}}</td>
        <td>{{CurrencyName}}</td>
        <td>{{Buy}}</td>
        <td>{{Transfer}}</td>
        <td>{{Sell}}</td>
      </tr>
    `,
    })

    Vue.component('DateTime', {
      template: `
      `
    })

    new Vue({
      el: "#app",
      data() {
        return {}
      },
      mounted() {},
      template: `
        <ExrateList>
            <DateTime>5/11/2022 9:34:07 AM</DateTime>
            <Exrate CurrencyCode="AUD" CurrencyName="AUSTRALIAN DOLLAR " Buy="15,526.92" Transfer="15,683.75"
              Sell="16,189.62" />
            <Exrate CurrencyCode="CAD" CurrencyName="CANADIAN DOLLAR " Buy="17,172.31" Transfer="17,345.77"
              Sell="17,905.25" />
            <Exrate CurrencyCode="CHF" CurrencyName="SWISS FRANC " Buy="22,468.58" Transfer="22,695.53" Sell="23,427.56" />
            <Exrate CurrencyCode="CNY" CurrencyName="YUAN RENMINBI " Buy="3,337.53" Transfer="3,371.24" Sell="3,480.51" />
            <Exrate CurrencyCode="DKK" CurrencyName="DANISH KRONE " Buy="-" Transfer="3,190.67" Sell="3,313.41" />
            <Exrate CurrencyCode="EUR" CurrencyName="EURO " Buy="23,549.75" Transfer="23,787.63" Sell="24,869.38" />
            <Exrate CurrencyCode="GBP" CurrencyName="POUND STERLING " Buy="27,549.99" Transfer="27,828.27" Sell="28,725.86" />
            <Exrate CurrencyCode="HKD" CurrencyName="HONGKONG DOLLAR " Buy="2,849.18" Transfer="2,877.96" Sell="2,970.79" />
            <Exrate CurrencyCode="INR" CurrencyName="INDIAN RUPEE " Buy="-" Transfer="296.42" Sell="308.32" />
            <Exrate CurrencyCode="JPY" CurrencyName="YEN " Buy="171.33" Transfer="173.06" Sell="181.39" />
            <Exrate CurrencyCode="KRW" CurrencyName="KOREAN WON " Buy="15.54" Transfer="17.26" Sell="18.93" />
            <Exrate CurrencyCode="KWD" CurrencyName="KUWAITI DINAR " Buy="-" Transfer="74,590.06" Sell="77,585.10" />
            <Exrate CurrencyCode="MYR" CurrencyName="MALAYSIAN RINGGIT " Buy="-" Transfer="5,180.96" Sell="5,294.85" />
            <Exrate CurrencyCode="NOK" CurrencyName="NORWEGIAN KRONER " Buy="-" Transfer="2,311.63" Sell="2,410.18" />
            <Exrate CurrencyCode="RUB" CurrencyName="RUSSIAN RUBLE " Buy="-" Transfer="295.94" Sell="401.09" />
            <Exrate CurrencyCode="SAR" CurrencyName="SAUDI RIAL " Buy="-" Transfer="6,101.00" Sell="6,345.97" />
            <Exrate CurrencyCode="SEK" CurrencyName="SWEDISH KRONA " Buy="-" Transfer="2,234.17" Sell="2,329.41" />
            <Exrate CurrencyCode="SGD" CurrencyName="SINGAPORE DOLLAR " Buy="16,079.68" Transfer="16,242.10"
              Sell="16,765.98" />
            <Exrate CurrencyCode="THB" CurrencyName="THAILAND BAHT " Buy="585.22" Transfer="650.25" Sell="675.26" />
            <Exrate CurrencyCode="USD" CurrencyName="US DOLLAR " Buy="22,780.00" Transfer="22,810.00" Sell="23,090.00" />
            <Source>Joint Stock Commercial Bank for Foreign Trade of Vietnam - Vietcombank</Source>
          </ExrateList>
        `
    })
  })
</script>